@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

/*      Sections        */

body {
    margin : 0;
    padding: 0;
    background-color: rgb(24, 24, 24);
    overflow-x: hidden;
    overflow-y: auto;
    font-family: "Roboto Mono";
    font-size: medium;
}

.top-bar {
    position: fixed;
    font-size: large;
    top: 0; left: 0;
    width: 50em;
    left: 50%;
    transform: translateX(-50%);
    height: fit-content;
    background-color: rgb(54, 54, 54);
    color: white;
    z-index: 1000;
    cursor: default;
}

.news {
    padding: 5px;
    background-color: rgb(48, 48, 48);
}

.section-container {
    margin: auto;
    display: flex;
    width: 50em;
}

.section {
    flex: 1;
    cursor: default;
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 10px;
    background-color: rgb(229, 229, 229);
    border-color: rgb(229, 229, 229);
    border-width: 4px;
    border-style: solid;

    -webkit-transition: border-width 0.1s;
    -moz-transition: border-width 0.1s;
    -o-transition: border-width 0.1s;
    transition: border-width 0.1s;
}

.section:hover {
    background-color: rgb(229, 229, 229);
    border-color: rgb(229, 229, 229);
    border-width: 10px;
    border-style: solid;
}

.footer {
    font-size: large;
    width: 50em;
    padding: 20px;
    margin: auto;
    height: fit-content;
    background-color: rgb(48, 48, 48);
    color: rgb(197, 197, 197);
    cursor: default;
}

.footer ol {
    padding-right: 40px;
}

.subsection-container {
    margin: auto;
    display: flex;
    width: 100%;
}

.subsection {
    flex: 1;
    cursor: default;
    margin: 5px;
    margin-top: 10px;
    padding: 10px;
    color: white;
    background-color: rgb(184, 184, 184);
    border-color: rgb(184, 184, 184);
    border-width: 4px;
    border-style: solid;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgb(184, 184, 184);
}

/*      Text        */

.light a, .light a:visited {
    color: white;
    text-decoration: none;
}

.light a:hover {
    color: rgb(204, 204, 204);
    text-decoration: underline;
}

.penumbra a, .penumbra a:visited {
    color: rgb(116, 116, 116);
    text-decoration: none;
}

.penumbra a:hover {
    color: rgb(43, 43, 43);
    text-decoration: underline;
}

.dark a, .dark a:visited {
    color: black;
    text-decoration: none;
}

.dark a:hover {
    color: rgb(43, 43, 43);
    text-decoration: underline;
}

.emphasis {
    font-family: "Share Tech Mono";
    font-size: x-large;
}

b {
    margin: 0;
    font-size: large;
}

p {
    margin: 0;
    font-size: medium;
}

/* resizes when hover */
.enlarge {
    font-size: large;
    -webkit-transition: font-size 0.1s;
    -moz-transition: font-size 0.1s;
    -o-transition: font-size 0.1s;
    transition: font-size 0.1s;
}

.enlarge:hover {
    font-size: larger;
}

/*      Separators      */

.sep-thick {
    background-color: rgb(176, 176, 176);
    width: 100%;
    height: 5px;
}

.sep-thin {
    background-color: rgb(176, 176, 176);
    margin-top: 1em;
    margin-bottom: 0.75em;
    width: 100%;
    height: 3px;
}

/*      Lists       */

ol li {
    display: inline-block;
    padding: 2px;
    padding-right: 20px;
}

/*      Marquee!        */

.marquee {
    height: 1.25em;
    overflow: hidden;
    position: relative;
}

.marquee p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);	
    transform:translateX(100%);
    -moz-animation: scroll-left 15s linear infinite;
    -webkit-animation: scroll-left 15s linear infinite;
    animation: scroll-left 15s linear infinite;
}

/* Move it (define the animation) */
@-moz-keyframes scroll-left {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
}

@-webkit-keyframes scroll-left {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
}

@keyframes scroll-left {
    0%   { 
        -moz-transform: translateX(100%); /* Browser bug fix */
        -webkit-transform: translateX(100%); /* Browser bug fix */
        transform: translateX(100%); 		
    }
    100% { 
        -moz-transform: translateX(-100%); /* Browser bug fix */
        -webkit-transform: translateX(-100%); /* Browser bug fix */
        transform: translateX(-100%); 
    }
}

/*      Images      */

.emblem {   
    height: 1.7em;
    border-radius: 100%;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(36, 36, 36);
}

.emblem:hover {
    -webkit-animation:spin 0.25s linear infinite;
    -moz-animation:spin 0.25s linear;
    animation:spin 0.25s linear;
}

@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

